.text-white { color: #fff; }
.bg-white {
    background: linear-gradient(135deg, #764ba2, #764ba2);
    border-radius: 0.25rem 0.25rem !important;
    position: relative;
    top: -10px; /* Adjust this value as needed */
}

.bg-black { background: linear-gradient(135deg, #000000, #434343); }
.text-black { color: #000; }

.bg-green { background: linear-gradient(135deg, #42e695, #3bb2b8); }
.text-green { color: #42e695; }

.candidate_photo {
    width: 80px;
    height: 80px;
    border: 2px solid #42e695;
    border-radius: 100%;
}
